version: '3.8'

services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: discordbot-dev
    volumes:
      - .:/workspace
    ports:
      - '3000:3000' 
      - '3001:3001' 
    stdin_open: true
    tty: true
    working_dir: /workspace
    env_file: .env

  app:
    build:
      context: .
      dockerfile: dockerfile.prod
    container_name: discordbot-production
    ports:
      - '3000:3000'
    environment:
      - RUST_LOG=info
    restart: unless-stopped
    env_file: .env
