name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Build release
      run: cargo build --release

    - name: Prepare release directory
      run: |
        mkdir release
        cp target/release/ release/
        cp -r assets release/assets

    - name: Create archive
      run: |
        cd release
        zip -r ../${{ github.ref_name }}.zip .
        cd ..

    - name: Upload release asset
      uses: softprops/action-gh-release@v2
      with:
        files: ${{ github.ref_name }}.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
